{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="ai-chat">
    <iframe id="pdf-frame2" src="{{ url_for('static', filename=full_path) }}" width="65%" height="600"></iframe>
    <form action="/ai-chat" method="POST" class="chat-form">
        <input type="hidden" name="path" value="{{ path }}">
        <input type="hidden" name="full-path" value="{{ full_path }}">
        
        <div class="text">
            <label><h1>Ask us any question!</h1></label>
            <label><h1>Or, generate questions!</h1></label>    
        </div>

        <input type="text" name="user-input" placeholder="Type your message here" class="form-input">
        
        <button type="submit" class="btn load-show">Send</button>


        {% if ai_msg != '' %}
            <div class="ai-msg">
                <h1>AI Response:</h1>
                {{ ai_msg | safe }}
            </div>
        {% endif %}
    </form>
</div>


{% endblock %}